* {}

header {
    background-color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    height: 70px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;

}

body {
    background-color: rgb(201, 202, 203);
    font-family: cursive;
    /* font-weight: 300; */
    margin: 0.5%;
    padding: 0;
    
}

h2{
    margin-top: 0%;
    font-family: cursive;
}

img {
    border-radius: 30%;
    height: 50%;
    width: auto;

}
